# Data preparation

In [5]:
import click
import pandas as pd
# from sklearn
# import

In [7]:
df = pd.read_csv('./data/raw/steam-200k.csv')

In [8]:
df.head()

   151603712  The Elder Scrolls V Skyrim  purchase    1.0  0
0  151603712  The Elder Scrolls V Skyrim      play  273.0  0
1  151603712                   Fallout 4  purchase    1.0  0
2  151603712                   Fallout 4      play   87.0  0
3  151603712                       Spore  purchase    1.0  0
4  151603712                       Spore      play   14.9  0